@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom.otf');
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'MyriadPro It';
    src: url('../fonts/MyriadPro-It.otf');
}

@font-face {
    font-family: 'MyriadPro CondIt';
    src: url('../fonts/MyriadPro-CondIt.otf');
}

@font-face {
    font-family: 'Myriad Pro Bold Cond';
    src: url('../fonts/MyriadPro-BoldCond.otf');
}

body {
    font-family: 'MyriadPro Regular';
}

.position-logo {
    background-color: #29699e;
    text-align: center;
    font-size: 16px;
    height: 120px;
    padding: 10px 15px;
}

.position-logo a {
    color: #fff;
}

.right-header {
    background-color: #cae3f6;
    padding: 28px 15px;
    height: 120px;
}

.news-top > div {
    font-size: 11px;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}

.news-top > div img {
    width: 68px;
    height: 58px;
    object-fit: cover;
    padding-right: 10px;
}

.right-header a {
    color: #000;
}

.header-top {
    height: 120px;
}

.header-bottom .navbar {
    margin: 0;
    padding: 13px 0;
}

nav ul li {
    text-transform: uppercase;
    font-size: 15px;
}

.header-bottom nav .nav li a {
    color: #545454;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Acrom';
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.header-bottom nav .nav li a:after {
    content: '';
    position: absolute;
    border: 1px solid #356691;
    background-color: #356691;
    height: 5px;
    width: 100%;
    bottom: -13px;
    left: 0;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.menu {
    float: left;
}

.language {
    padding: 13px 15px;
    float: right;
}

.header-bottom nav .nav li a:hover,
.header-bottom nav .nav li a:focus,
.header-bottom nav .nav li a.active {
    background-color: transparent;
    color: #356691;
    font-weight: 700;
}

.navbar-collapse {
    padding: 0;
}

.language a {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
    color: #363636;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.language a:hover,
.language a.active {
    background-color: rgba(25, 55, 96, 0.8);
    color: #fff;
}

.link-user-page {
    background-color: rgba(25, 55, 96, 0.8);
    float: right;
    display: inherit;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin-left: 15px;
}

.link-user-page a {
    color: #fff;
}

.main-search {
    width: 230px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: 0;
    height: 38px;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: center left 7px;
    text-align: center;
    color: #3a3a3a;
    background-size: 17px 17px;
    outline: none;
    padding: 0 15px 0 31px;
    margin: 14px 0;
}

.right-block {
    padding: 0;
    padding-left: 15px;
    border-left: 2px solid #cfd4d9;
    float: right;
}

.icon-bar {
    background-color: #fff;
}

.main-slider .slick-prev:before {
    content: url('../images/arrow-l.png');
}

.main-slider .slick-next:before {
    content: url('../images/arrows-r.png');
}

.main-slider .slick-next,
.main-slider .slick-prev {
    z-index: 5;
    background: rgba(255, 255, 255, .5);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main-slider .slick-prev {
    left: 15px;
}

.main-slider .slick-next {
    right: 15px;
}

.in-text {
    background-color: rgba(53, 102, 145, 0.8);
    color: #fff;
    position: absolute;
    z-index: 10;
    min-height: 130px;
    bottom: 0px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2% 3%;
}

.in-text h2 {
    margin: 0;
    text-shadow: 0 1px 3px rgba(1, 1, 1, 0.1);
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.in-text .tetx-news {
    float: left;
}

.in-text button {
    float: right;
    padding: 7px 15px;
    border: 1px solid #fff;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    margin: 23px auto;
    outline: none;
}

.in-text p {
    text-shadow: 0 1px 3px rgba(1, 1, 1, 0.1);
    color: white;
    font-size: 27px;
    font-weight: 300;
    font-family: 'MyriadPro CondIt';
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-slider {
    position: relative;
}

.img-slider > a > img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.img-news img {
    width: 100%;
    height: 215px;
    object-fit: cover;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.title-news {
    font-family: 'Myriad Pro Bold Cond';
    font-weight: 700;
    color: #494949;
    text-transform: uppercase;
}

.text-min-news {
    font-weight: 300;
    font-family: 'MyriadPro CondIt';
    color: #494949;
    text-transform: uppercase;
    height: 81px;
    overflow: hidden;
    margin-bottom: 0;
    display: block;
}

.block-news {
    background-color: white;
    border: 1px solid #a3a3a3;
    position: relative;
}

.block-news-1 {
    margin-right: 0;
}

.block-news-2 {
    margin-left: 0;
}

.text-img-news {
    padding: 12px;
}

.main-news-block {
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-news-block a {
    color: #000;
}

.moore-info {
    color: #fff;
    text-transform: uppercase;
    width: 163px;
    height: 35px;
    background-color: #f85b5b;
    border: 2px solid #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.moore-info:hover {
    background-color: #fff;
    color: #f85b5b;
    font-weight: bold;
    border-color: #f85b5b;
}

.top-block-news {
    position: absolute;
    top: -12px;
    left: 0;
}

.date-news {
    background-color: #356691;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    min-width: 70px;
    padding: 5px;
    height: 70px;
    margin: 0 10px;
    position: relative;
}

.date-news:after {
    content: url(../images/ugl-blue.png);
    position: absolute;
    top: -4px;
    right: -10px;
}

.number-date {
    font-size: 36px;
    font-family: 'Myriad Pro Bold Cond';
    font-weight: 700;
    display: block;
    line-height: 31px;
}

.name-moth {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.format-news {
    background-color: #f85b5b;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    min-width: 70px;
    padding: 5px;
    height: 70px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
}

.format-news:after {
    content: url(../images/ugl-red.png);
    position: absolute;
    top: -3px;
    right: -10px;
    line-height: normal;
}

.right-block-news {
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 30px;
}

.right-block-news .img-news {
    float: left;
    margin-right: 10px;
}

.right-block-news .img-news img {
    width: 306px;
    max-width: 100%;
    height: 203px;
    object-fit: cover;
}

.block-news {
    height: 440px;
}

.right-block-news .block-news {
    height: 205px;
}

.img-news,
.seminar-img-box {
    background-color: #29699e;
}

.block-news:hover .img-news img {
    opacity: .5;
}

.left-menu div {
    border-right: 1px solid #a3a3a3;
    padding-right: 15px;
}

.left-menu ul {
    margin-bottom: 30px;
}

.left-menu,
.left-menu ul {
    padding-left: 0;
}

.center-main-page {
    font-family: 'Acrom';
}

.left-menu li {
    list-style: none;
    font-family: 'Acrom';
    border-bottom: 1px solid #969696;
}

.left-menu li a {
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
}

.left-menu li a:hover {
    color: #000;
}

.title-min {
    color: #545454;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0px;
}

.seminar-img-box img {
    height: 278px;
    width: 100%;
    object-fit: cover;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.seminar-box {
    border: 1px solid #969696;
    height: 470px;
}

.tage {
    margin-bottom: 20px;
}

.seminar-box:hover .seminar-img-box img {
    opacity: .5;
}

.tage span {
    font-size: 10px;
    padding: 6px 10px;
    display: inline-block;
    border-bottom: 1px solid #969696;
    margin-right: -4px;
}

.tage span.active {
    background-color: #dd2501;
    color: #fff;
    border-bottom-color: transparent;
}

.seminar-block a {
    color: #000;
}

.seminar-block a:hover {
    text-decoration: none;
}

.date-seminar {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.seminar-text-box {
    padding: 10px 20px;
    color: #006cae;
}

.title-seminar {
    color: #006cae;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    height: 63px;
    overflow: hidden;
}

.pos-semi {
    margin-bottom: 0;
}

.right-news-list {
    height: 470px;
    overflow: auto;
    margin-right: -15px;
    padding-right: 15px;
}

.right-news-list::-webkit-scrollbar {
    width: 4px;
    right: 15px;
}

.right-news-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #969696;
}

.right-news-list::-webkit-scrollbar-thumb {
    background-color: #969696;
    outline: 1px solid #fff;
    border: 2px solid #006cae;
    border-radius: 5px;
}

.right-news-list ul {
    padding-left: 0;
}

.right-news-list ul li {
    list-style: none;
    margin-bottom: 7px;
    border-bottom: 1px solid #969696;
}

.right-news-list ul li a {
    color: #969696;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.right-news-list ul li a:hover {
    color: #000;
}

.slider-bottom {
    text-align: center;
    font-family: 'Acrom';
    margin: 40px 0;
}

.slider-bottom a {
    color: #5a5a5a;
}

.slider-bottom p {
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    min-height: 120px;
}

.box-slid-bottom {
    margin: 10px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(179, 179, 179, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(179, 179, 179, 1);
    box-shadow: 0px 0px 3px 1px rgba(179, 179, 179, 1);
}

.box-slid-bottom img {
    margin-bottom: 15px;
    height: 155px;
    max-width: 100%;
}

.footer {
    background-color: #4c9fe0;
    color: #fff;
    padding-top: 80px;
}

.footer a {
    color: #fff;
}

.bottom-title {
    font-size: 17px;
}

.footer-text {
    font-size: 13px;
}

.icons {
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    margin-right: 10px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}

.icon-phone {
    background-position: 0 -27px;
}

.icon-email {
    background-position: 0 -54px;
}

.icon-web {
    background-position: 0 -81px;
}

.icon-footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-footer p {
    font-size: 13px;
    margin-bottom: 7px
}

.footer-menu ul {
    padding-left: 0;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    color: #fffefe;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    font-family: 'Acrom';
}

.subscription h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
}

.subscription input[type="text"] {
    border: 0;
    background-color: rgba(0, 110, 195, 0.5);
    width: 100%;
    height: 45px;
    border-radius: 25px;
    outline: none;
    padding: 0 115px 0 15px;
    font-size: 16px;
}

.subscription form {
    position: relative;
    margin-top: 20px;
}

.subscription input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    border-radius: 25px;
    border: 0;
    color: #000;
    background-color: #a6d3ff;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.subscription input[type="submit"]:hover {
    opacity: 0.9;
}

.iocn-social {
    margin-top: 20px;
    text-align: right;
}

.iocn-social a {
    margin-left: 7px;
}

.iocn-social a img:hover {
    background-color: #006ec3;
}

.iocn-social a img {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 50%;
}

.bottom-box-footer {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

.bottom-box-footer p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.bottom-box-footer p a {
    color: #051e46;
}

.breadcrumb-box .breadcrumb>li {
    font-size: 16px;
}

.breadcrumb-box .breadcrumb>li>a {
    color: #fff;
}

.breadcrumb-box .breadcrumb>.active {
    color: #afafaf;
}

.breadcrumb-box .breadcrumb {
    padding: 10px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: rgb(71, 95, 127);
    border-radius: 0;
}

.text-about {
    font-size: 15px;
    color: #464646;
}

.text-news {
    font-size: 17px;
    color: #464646;
}

.top {
    border-bottom: 1px solid #fff;
    background-color: #d6d6d6;
    padding: 10px 0;
    cursor: pointer;
    color: #4c4c4c;
}

.top p {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.bottom {
    display: none;
    height: 320px;
    overflow: auto;
}

.bottom::-webkit-scrollbar {
    width: 4px;
    right: 15px;
}

.bottom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #969696;
}

.bottom::-webkit-scrollbar-thumb {
    background-color: #969696;
    outline: 1px solid #fff;
    border: 2px solid #006cae;
    border-radius: 5px;
}

.page-seminar .slick-prev:before,
.content-conferense .slick-prev:before,
.min-slider .slick-prev:before {
    content: url(../images/arrows-l.png);
}

.page-seminar .slick-next:before,
.content-conferense .slick-next:before,
.min-slider .slick-next:before {
    content: url(../images/arrows-right.png);
}

.content-conferense .slick-prev {
    top: -30px;
    right: 30px;
    z-index: 15;
}

.content-conferense .slick-next {
    top: -30px;
    right: 0;
    z-index: 15;
}

.page-seminar .slick-prev {
    left: -15px;
    z-index: 15;
}

.page-seminar .slick-next {
    right: -15px;
    z-index: 15;
}

.min-slider .slick-prev {
    left: -20px;
    z-index: 15;
    top: 45%;
}

.min-slider .slick-next {
    right: -20px;
    z-index: 15;
    top: 45%;
}

.map-site-page {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #545454;
    margin-bottom: 20px;
}

.map-site-page a {
    color: #4e5fb8;
}

.content-conferense {
    font-size: 15px;
    text-transform: uppercase;
}

.content-conferense p {
    margin-bottom: 25px;
}

.date-conf {
    float: right;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}

.title-conf {
    color: #545454;
    font-weight: 700;
    font-size: 18px;
    padding-right: 10px;
    line-height: 25px
}

.red-text {
    color: #e78181;
}

.info-contacts {
    font-size: 15px;
    text-transform: uppercase;
}

.info-contacts p {
    margin-bottom: 20px;
}

.in-content {
    font-size: 17px;
    line-height: 21px;
}

.in-content p {
    margin-bottom: 25px;
}

.name-sp {
    color: #475f80;
    font-weight: 500;
}

.list-book ul li {
    list-style: url(../images/icon-book.png);
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-weight: 500;
}

.list-book ul li a {
    color: #545454;
}

.table {
    margin-top: 30px;
}

.table td,
.table th {
    border: 1px solid #ccc;
}

.page-academic-council {
    font-size: 17px;
}

.box-development > div {
    margin-bottom: 25px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
}

.img-slid-min {
    width: 151px;
    height: 191px;
    background-color: white;
    border: 1px solid #3e3e3e;
    object-fit: cover;
    max-width: 100%;
}

.min-slider p {
    margin-bottom: 0;
    color: #464646;
}

.min-slider .box-min-slider {
    margin: 10px;
}

.slider-for {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-for div img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.slider-for div img:hover {
    opacity: .6;
}

.slider-for > div {
    width: 215px;
    height: 204px;
    margin: 10px;
    border: 2px solid #0a4488;
    background-color: #0a4488;
}

.slider-nav > div {
    width: 215px;
    height: 300px;
    margin: 10px;
    border: 2px solid #475f7f;
    background-color: #475f7f;
}

.slider-nav div img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.text-gallery {
    color: #fff;
    padding: 10px;
    height: 94px;
    overflow: hidden;
}

.list-academs {
    display: inline-block;
    width: 140px;
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 5px;
}

.list-academs a span {
    display: block;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-academs a img {
    width: 100%;
    height: 130px;
    object-fit: contain;
}

.math_jurnal .nav-tabs li a {
    white-space: nowrap;
}

.math_jurnal .nav-tabs li a:hover,
.math_jurnal .nav-tabs li a:focus {
    background-color: #fff;
    border: 1px solid #cae3f6;
}

.about_content {
    padding: 30px 0;
}

.math_jurnal .nav-tabs {
    background-color: #cae3f6;
}

.math_jurnal .nav-tabs.nav-justified>.active>a,
.math_jurnal .nav-tabs.nav-justified>.active>a:hover,
.math_jurnal .nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #cae3f6;
}

.math_jurnal .nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 0px;
    color: #000;
}

.math_jurnal .nav-tabs.nav-justified>li>a {
    border-bottom: 0;
}

.arhive {
    padding: 0;
}

.arhive li p {
    margin: 0;
}

.arhive li {
    list-style: none;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 13px
}

.jurnals li {
    list-style-image: url(../images/pdf-file-format-symbol.png);
    font-weight: 600;
}

.item-letter {
    text-transform: uppercase;
    font-weight: 600;
}

.item-letter a {
    display: inline-block;
    font-weight: 600;
    padding: 0 3px;
    text-decoration: underline;
    color: #000;
}

.list-profile li {
    list-style: none;
}

.list-profile {
    padding-left: 15px;
}

.table-prof>thead>tr>th,
.table-prof>tbody>tr>th,
.table-prof>tfoot>tr>th,
.table-prof>thead>tr>td,
.table-prof>tbody>tr>td,
.table-prof>tfoot>tr>td {
    vertical-align: middle;
}
.table-prof th img{
    width: 100px;
    height: 120px;
    object-fit: cover;
}
.min-right-menu li{
    width: 100%;
}
.min-right-menu li a{
    padding:0;
    border-radius: 0;
    border:0;
}
.nav-tabs.min-right-menu>li.active>a, .nav-tabs.min-right-menu>li.active>a:hover, .nav-tabs.min-right-menu>li.active>a:focus{
    border:0;
}
.nav.min-right-menu>li>a:hover,.nav.min-right-menu>li>a:focus{
    background: transparent;
    border:0;
}
.left-menu .dropdown-menu{
    position: static;
    float: none;
    width: 100%;
}
.left-menu li:last-child{
    border-bottom: 0;
}
@media (min-width: 1600px) {
    .container {
        width: 1470px;
    }
}

@media (max-width:1599px) {
    .language a {
        padding: 10px;
        font-size: 14px;
    }
    .link-user-page {
        width: 75px;
    }
    .main-search {
        width: 189px;
    }
    .header-bottom nav .nav li a {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .header-bottom nav .nav li a:hover:after, .header-bottom nav .nav li a.active:after {
        transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .position-logo {
        font-size: 15px;
    }
    .header-bottom nav .nav li a {
        font-size: 13px;
    }
    .link-user-page {
        width: 55px;
        padding: 7px;
    }
    .main-search {
        width: 160px;
        margin: 12px 0;
    }
    .language a {
        font-size: 13px;
        padding: 10px 7px;
    }
    .language {
        padding: 12px 15px;
        text-align: right;
    }
    .header-bottom .navbar {
        padding: 0;
    }
    .navbar-header {
        float: none !important;
    }
    .navbar-toggle {
        float: left;
        margin-top: 0;
        background-color: rgba(25, 55, 96, 0.8);
        border-radius: 0;
        margin-bottom: 0;
        padding: 13px;
        margin-top: -53px;
    }
    .header-bottom nav .nav li {
        width: 100%;
    }
    .header-bottom nav .nav li a {
        text-align: left;
        color: #fff;
        margin-bottom: 0;
    }
    .navbar-collapse {
        background-color: rgba(25, 55, 96, 0.9);
    }
    .menu {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 100%;
        left: 0;
    }
    .header-bottom > .container {
        position: relative;
    }
    .navbar-collapse {
        margin-top: 8px;
    }
    .img-slider > a > img {
        height: 600px;
    }
    .right-block-news .img-news img {
        width: 208px;
    }
}

@media (max-width: 992px) {
    .right-block-news {
        padding-left: 0;
        margin-top: 30px;
    }
    .title-min {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .header-top, .position-logo {
        height: 90px;
    }
    .language {
        padding: 2px 0;
    }
    .language a {
        font-size: 12px;
    }
    .header-bottom .navbar {
        padding: 0;
        border: 0;
    }
    .right-block {
        border: 0;
    }
    .link-user-page {
        margin: 0;
    }
    .main-search {
        margin: 12px auto;
        width: 95%;
    }
    .img-slider > a > img {
        height: 400px;
    }
    .main-slider .slick-next,
    .main-slider .slick-prev {
        width: 50px;
        height: 50px;
    }
    .in-text {
        width: 100%;
    }
    .in-text p {
        font-size: 18px;
        margin-top: 3px;
    }
    .in-text h2 {
        font-size: 24px;
    }
    .in-text button {
        margin: 3px auto;
        height: 40px;
    }
    .navbar-collapse {
        margin-top: 0;
    }
    .main-news-block {
        margin-left: 0;
        margin-right: 0;
    }
    .block-news-1 {
        margin-right: -15px;
        margin-bottom: 30px;
    }
    .block-news-2 {
        margin-left: -15px;
    }
    .right-block-news .img-news {
        float: none;
        margin-right: 0px;
    }
    .right-block-news .img-news img {
        width: 100%;
    }
    .right-block-news .block-news {
        height: 440px;
    }
    .seminar-box {
        margin-bottom: 30px;
    }
    .right-news-list {
        margin-right: 0;
    }
    .personnel-page {
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-menu {
        display: none;
    }
    .footer {
        padding-top: 50px;
    }
    .page-seminar .slick-prev {
        left: 0px;
    }
    .page-seminar .slick-next {
        right: 0px;
    }
    .slider-for > div,
    .slider-nav > div {
        width: 270px;
    }
    .navbar-toggle{
        margin-top: -42px;
    }
}